# Documentation
/README.html
/WORKFLOW.html

# compile_pkgs default directory
/build
# generate_lists default directory
/lists

# generate_lists default directory
/generated_lists
# generate_medkits default directory
/generated_medkits

# generate_medkit build tools directory
/.turris-tools
/*-medkit.tar.gz
