# compile_pkgs configuration example
# Place this file to one of following paths:
#   * ${src_dir}/turris-build.conf
#   * ~/.turris-build
#   * ./turris-build
# Where latter paths overrides configuration from previous ones.
# Note that some of these configuration can be overriden by script arguments.
# This file is sourced to bash script (compile_pkgs) so you can use any bash
# compatible syntax here.

# Set this variable to build all packages not only minimal set
EVERYTHING=y
# Number of jobs to be passed to make calls
BUILD_JOBS="$(nproc)"
# Path to private signing key
SIGN_KEY="mime.key" 
# Set target board. Allowed arguments are: turris, omnia and mox
set_target mox

# Git reference used to checkout OpenWRT repository
#OPENWRT_BRANCH=master
# Target publish branch
#PUBLISH_BRANCH="hbs"
# Force build (set to some number to try build multiple times)
#FORCE="1"

# Path to git mirror directory
#GIT_MIRROR="" 
# Path to downloads mirror directory
#DL_MIRROR="" 
# Path to ccache directory for host compilations
#CCACHE_HOST_DIR="" 
# Path to ccache directory for target compilations
#CCACHE_TARGET_DIR="" 

## Variables you most probably don't want to change ##############################
# Additional arguments passed to OpenWRT make call (note that this is for all make
# calls in OpenWRT)
#BUILD_ARGS=() 

## Variables that you most probably want to let in default #######################
# OpenWRT git repository URL
#OPENWRT_URL="https://git.openwrt.org/openwrt/openwrt.git" 
# Set this variable to clone OpenWRT tree in full depth not just latest commit
#CLONE_DEEP="y" 

# vim: ft=sh
