# compile_pkgs configuration example
# Place this file to one of following paths:
#   * ${src_dir}/turris-build.conf
#   * ~/.turris-build
#   * ./turris-build
# Where latter paths overrides configuration from previous ones.
# Note that some of these configuration can be overriden by script arguments.
# This file is sourced to bash script (compile_pkgs) so you can use any bash
# compatible syntax here.

# Number of jobs to be passed to make calls
BUILD_JOBS="$(nproc)"
# Path to private signing key
SIGN_KEY="mime.key"
# Set target board. Allowed arguments are: turris, omnia and mox
set_target mox

# Force build (set to some number to try build multiple times)
#FORCE=1

# Path to git mirror directory.
# Once set, you can init it with: `compile_fw mirror_feeds`
#GIT_MIRROR=""
# Path to downloads mirror directory.
# Useful when multiple builds are being run on same machine or if you don't want t
# odelete downlaoded sources every time you do dirclean.
#DL_MIRROR=""
# Path to persistent compilation cache directory for host compilations
# This is useful if you are doing multiple builds or if you repeat same build
# multiple times.
#CCACHE_HOST_DIR=""
# Path to persistent compilation cache directory for target compilations
# This is same as CCACHE_HOST_DIR with exception that it is used for target
# compilation.
#CCACHE_TARGET_DIR=""

## Variables you most probably don't want to change ##############################
# Additional arguments passed to OpenWRT make call (note that this is for all make
# calls in OpenWRT)
#BUILD_ARGS=()

## Variables that you most probably want to let in default #######################
# Target publish branch
#PUBLISH_BRANCH="hbs"

# Set this variable to clone OpenWRT tree in full depth not just latest commit
#CLONE_DEEP="y"

# vim: ft=sh
